.first-banner{
    background-color: blanchedalmond;
    padding: 30px 30px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headline{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    display: flex;
    width: 708px;
    flex-direction: column;
}
.paragraph{
    display: flex;
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.btn{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    gap: 10px;
}

.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;}

.description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
}

.video{
    position: relative;
    margin: 10px 20px;
    color: rgb(168, 16, 87);
    left: 50px;
}
.fig-text{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.image{
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 314px;
    height: 471px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
#image{
     display: flex;
}
.second-banner{
    display: flex;
    border: 10px;

}
.second-banner-text{
    background-color: rgb(127, 196, 196);
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}
.second-headline{
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}
.second-paragraph{
    color: rgba(39, 39, 39, 0.60);   
    font-size: 18px;  
    font-weight: 400;
    line-height: 30px;
}

.second-imgage{
    width: 342px;
    height: 396px;
    display: flex;
}
.flower{margin: 30px;
}

.subscribe-banner{
    width: 1370px;
    height: 449px;
    position: relative;
    background-image: url("../image/Rectangle\ 9.png");
}
 .deal-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.coupon{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
} 

.sub-btn{    
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    gap: 10px;
    position: relative;
}   
.backround{
    background-color: #272727;
    width: 1370px;
    height: 300px;

}
.section-title{
    color: rgb(48, 138, 82);
}
.description{
    color: rgb(105, 67, 20);
}
.text-flower{
    color: rgb(212, 209, 26);
}

.coppy-rights{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



    

 



